.ReactModal__Content {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 2147483647;
    outline: none;
}

.ReactModal__Overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2147483646;
}
